.navbar {
position: fixed;
top: 0;
width: 100%;
height: 60px;
background: #ff1493 ;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 25px;
box-sizing: border-box;
z-index: 1000;
}

.nav-links {
list-style: none;
display: flex;
gap: 25px;
}

.nav-links li a {
color: #ddd;
text-decoration: none;
font-size: 16px;
transition: 0.3s
background-color: black;
padding: 10px 20px;
border-radius: 20px;
border: 2px solid white;
}

.nav-links li a:hover {
background-color: white;
padding: 10px 20px;
border-radius: 20px;
color: #ff1493;

}

.logo {
background-color: #FFF0F5;
color: white;
border-radius: 50%;
font-weight: bold;
font-size: 21;
text-shadow: 0 0 7px #fff, 0 0 21px #ff00de;
padding: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Comic+Neue:wght@400;700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to right, #ffe6f0, #ffd1e8);
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

section{
	width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.image{
	width: 280px;
	height: 280px;
}

.image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 6px solid #ff69b4;
	margin-top: 60px;
}

.content{
	width: 40%;
	color: #5a2a3c;
	margin-top: 80px;
}

.content {
    min-height: calc(100vh - 55px);
    margin-top: 55px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1{
	font-family: 'Comic Neue', cursive;
	font-size: 3rem;
	margin-bottom: 10px;
	background: none;
}

.content h1 span{
	color: #ff69b4;
}

.content p{
	font-size: 1.1rem;
	margin-bottom: 20px;
	background: none;
	color: #7a3b55;
}

.social-links{
	display: flex;
	gap: 15px;
}

.social-links a{
	text-decoration: none;
}

.social-links i{
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: #ff69b4;
	border: 2px solid #ff69b4;
	transition: 0.3s ease;
	background: none;
}

.social-links i:hover{
	color: white;
	background-color: #ff69b4;
	transform: scale(1.2);
	box-shadow: 0 0 12px rgba(255, 105, 180, 0.60);
}

