.navbar {
position: fixed;
top: 0;
width: 100%;
height: 60px;
background: #ff1493 ;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 25px;
box-sizing: border-box;
z-index: 1000;
}

.nav-links {
list-style: none;
display: flex;
gap: 25px;
}

.nav-links li a {
color: #ddd;
text-decoration: none;
font-size: 16px;
transition: 0.3s
background-color: black;
padding: 10px 20px;
border-radius: 20px;
border: 2px solid white;
}

.nav-links li a:hover {
background-color: white;
padding: 10px 20px;
border-radius: 20px;
color: #ff1493;

}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.content {
  min-height: calc(100vh - 55px); /* background 70vh */
  margin-top: 55px;         /* jarak dari navbar */
  background: linear-gradient(
    to bottom,
    #ff4fa5,
    #ff8fc6,
    #ffc6dd,
    #ffe4d6
  );
  color: white;

  /* CENTER TULISAN */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ===== BESARKAN TEKS ===== */
.content h1 {
  font-size: 2.6rem; /* lebih besar */
  margin-bottom: 15px;
}

.content p {
  font-size: 1.2rem;
}


.content ul a {
	color: pink;
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s;

	background-color: lightyellow;
	padding: 10px 20px;
	border-radius: 15px;
}


.logo {
background-color: #FFF0F5;
color: white;
border-radius: 50%;
font-weight: bold;
font-size: 21;
text-shadow: 0 0 7px #fff, 0 0 21px #ff00de;
padding: 10px;
}

